.app-content{
    background-color: #110B1D;
    min-height: 100vw;
    padding: 2vw 8vw;
}

.search-pan{
    background-color: #0F0A1A;
}

.input-group{
    display: flex;
    flex-direction: row;
}
.input-group span{
    border: 1px solid #E7E7E840;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FFFFFF;
    width: 20%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group .material-icons {
    font-size: 1.7vw;
}

.input-group input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-group label{
    opacity: 0.6;
}

.form-group label.active{
    opacity: 1;
}

.selector-container{
    padding-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mr-5{
    margin-right: 0.5vw;
}

.table-container{
    padding-top: 5vw;
}

.mat-mdc-slide-toggle {
    transform: scale(0.8, 0.8)
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.form-control{
    width: 100%;
}



  
