<div class="app-content">
    <app-nav />

    <div class="selector-container">
        <div class="search-container input-group fix-height mr-5" style="width: 20%;">
            <span><mat-icon fontIcon="search" class="search-icon" /></span>
            <input class="form-control search-pan" type="text" placeholder="Search by user" />
        </div>
        <div class="form-group fix-height mr-5" style="width: 15%;">
            <label>View by Label</label>
            <mat-slide-toggle />
        </div>
        <div class="form-group fix-height mr-5" style="width: 15%;">
            <label class="active">View by Label</label>
            <mat-slide-toggle />
        </div>
        <div class="form-group fix-height mr-5" style="width: 30%;">
            <button class="btn btn-dark active">1DAY</button>
            <button class="btn btn-dark">7 DAYS</button>
            <button class="btn btn-dark">30 DAYS</button>
            <button class="btn btn-dark">ALL</button>
        </div>
        <div class="flex-end mr-5" style="width: 20%;">
            <select class="form-control fix-height">
                <option>High To Low</option>
            </select>
        </div>
    </div>

    <div class="table-container">
        <table class="table table-hover table-striped">
            <thead class="table-header">
                <tr class="text-center">
                    <th>USERNAME</th>
                    <th>TOTAL ROYALTIES EARNED</th>
                    <th>SONGS OWNED</th>
                    <th>AVG ROYALTIES PER SONG</th>
                    <th>PES OWNED</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
                <tr class="text-center">
                    <td>DevelopWithJon</td>
                    <td>$1,342.03</td>
                    <td>5</td>
                    <td>$268.40</td>
                    <td>Coming soon</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
