/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bread-thumb > p{
    float: left;
    font-size: 3vw;
    font-weight: 700;
    padding-left: 10px;
    font-family: Inter;
}

*{
    box-sizing: border-box;
}

.bread-thumb p:first-child{
    padding-left: 1px;
}

.bread-thumb-line{
    clear: both;
    height: 4vh;
    background-color: #0E151F;
    width: 100%;
}

.header{
    padding-bottom: 7vw;
}

.form-control{
    border: 1px solid #E7E7E840;
    border-radius: 9px;
    background-color: #0F0A1A;
    outline: none;
    color: #FFFFFF;
}

.btn{
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group{
    border: 1px solid #E7E7E840;
    border-radius: 9px;
    padding: 13px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

.btn-dark{
    background-color: #272331;
    color: #FFFFFF;
}

.btn.active{
    background-color: #FFFFFF;
    color: #0F0A1A;
}

.btn-group .btn{
    flex-grow: 1;
    padding: 5px 0.5em;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.form-group{
    color: #FFFFFF;
    border: 1px solid #E7E7E840;
    border-radius: 9px;
    padding: 14px 15px;
    font-size: 16px;
    font-family: "Open Sans";
    line-height: 25.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}



.form-group .btn{
    font-size: 0.8vw;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th{
    padding: 9px 21px;
}

.table tr td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table tr td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.table-header th{
    font-family: Kanit;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.15em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #E7E7E8;
    font-family: "Kanit";
    letter-spacing: 1px;
}

.table td{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.table tr, .table th, .table td{
    border: none;
    border-collapse: collapse;
    text-align: left;
}

.table-body tr td:nth-child(1){
    color: #F05E25;
    border: none;
}

.table-body tr td:nth-child(2){
    color: #E7E7E8;
    border: none;
}

.table-body tr td:nth-child(3){
    color: #E7E7E8;
    border: none;
}

.table-body tr td:nth-child(4){
    color: #4ECEBD;
    border: none;
}

.table-body tr td:nth-child(5){
    color: #7D7A84;
    border: none;
}

.table-striped > tbody > td{
    background-color: #100a1b;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: #262131;
    ;
}

.flex-grow-2{
    flex-grow: 2;
}
.flex-grow-3{
    flex-grow: 3;
}
.flex-grow-4{
    flex-grow: 4;
}

